{% extends "model-page.html" %}

{% block content %}

    <h2>Cadastro de Eventos</h2>

    <form action="submit" method="post">{% csrf_token %}
        <div>
            <row class="col-6">
                <div class="col-12">
                    <label>Título : </label><br>
                    <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
                    <input type="text" name="titulo" value="{{ evento.titulo }}">
                </div>
                 <div class="col-12">
                    <label>Data do Evento : </label><br>
                    <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
                </div>
                 <div class="col-12">
                    <label>Descrição : </label><br>
                     <textarea name="descricao" row="10" cols="24">{{ evento.descricao }}</textarea>
                 </div>
            </row>
        <button type="submit">Salvar</button>
        <a href="/">
        <button type="button">Voltar</button>
        </a>
        </div>
    </form>

{% endblock %}